body {
    background-color: wheat;
    margin: 0%;
}

header {
    background-color: slateblue;
    top: left;
    display: flex;
}

header>div {
    color: beige;
    align-items: center;
    display: flex;
    padding-left: 20%;

}

.nav {
    background-color: beige;
}

.nav>ul {
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding: 0%;
}

.nav>ul>li {
    flex-grow: 1;
}

.nav>ul>li>a {
    text-decoration: none;
    text-align: center;
    color: #000;
    display: block;
    padding: 1em;
}

.nav>ul>li>a:hover {
    background-color: salmon;
}

section>h1 {
    padding-top: 2%;
    color: slateblue;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Lista {
    display: flex;
    justify-content: space-around;
}

.Proyectos {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.Servicios {
    margin: 70px;
}

section>div>ul {
    padding: 0%;
    margin-left: 3%;
}

section>nav>ul>li {
    list-style-type: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-grow: 1;

}

section>nav>ul>li>img {
    width: 25px;
    margin: 0%;
    padding: 0%;
}

section>nav>ul>li>a {
    padding-left: 6px;
}

section>nav>ul>li>p {
    padding-left: 6px;
}

section>nav>ul {
    display: flex;
}